
@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .img1 {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 601px) {
  .header {
    flex-direction: row;
  }

  .img1 {
    width: 50px;
    height: 50px;
  }
}
.head2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
}

.form-container{
  width: 40%;
  height: 70%;
  margin: 6% 20%;
  padding: 1% 8%;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRIfP2R8DyPleqT65YprVFyaMhgQ5sOF56Fw&s'); */
  background-image: url('https://miro.medium.com/v2/resize:fit:2000/0*-wzHGePoV9d8-aOc');
  background-repeat: no-repeat;
  background-size: cover; /* This ensures the image covers the entire area */
  background-position: center; /* This centers the image */
  width: 50%;
  height: 80vh;
  
}

#btn{
  background-color: white;
  color: blue;
}

#google-btn{
  background-color: white;
  color: blue;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqQTxgK4s6dLvXDjdU2ptgqQE2ty3g2iapSwm6NxGF9ZXkgXg4qqkzGr8FfTiQD0g9afw&usqp=CAU');
  background-size: 40px 40px; /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: 230px center; /* Adjust position as needed */
  padding-left: 10px;
  margin-left: 0;
}

#phone-btn{
  background-color: white;
  color: blue;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKS8tb9MomxFbSjXF7tWCCN5Q0G6iW9AaePMD-0YL6UsDgOYbUdX93zTJd0Ng9u3lNhlA&usqp=CAU');
  background-size: 40px 40px; /* Adjust size as needed */
  background-repeat: no-repeat;
  background-position: 200px center; /* Adjust position as needed */
  padding-left: 10px;
  margin-left: 0;
}
.link{
  color: red;
}

.link:hover{
  color: blue;
}
.otp-form{
  
 padding:  22%;
  
}

#reg-form{
  background-image: url('https://miro.medium.com/v2/resize:fit:768/1*8H1qVFnf2I2pJMbIMcJs3g.jpeg');
  height: 80%;
}

#selecter{
  padding: "16%";
} 

.radio-group{
  display: flex;
  color: white;
  padding: 7px;
  margin-left: 20px;
}

#radio-group{
  color: white;
  margin-left: 25px;
  padding-top: 6px;
  font-size: larger;
}

#reg-btn{
  background-color: black;
  color: white;
}

#reg-btn:hover{
  background-color: white;
  color: black;
}

.gender-page{
  width: "100%";
  height: 98vh; /* Use 100vh to cover the full viewport height */
  background-image: url('https://img.freepik.com/premium-photo/young-couple-love-hugging-dancing-lavender-field-summer_261848-212.jpg');
  background-size: 1500px; /* Optional: to cover the whole div */
  background-position: center; /* Optional: to center the image */
  background-repeat: no-repeat; /* Optional: to avoid repeating the image */
}

.qstn-area{
  margin-left: 4%;
  padding-top: 3% ;
  color: rgb(121, 3, 121);
  
}

#gender-btn{
  margin-top: 1%;
  margin-left: 15%;
  background-color:  white;
  color:  rgb(121, 3, 121);
  width: 20%;
}

.card-container{
  margin-left: 12%;
  margin-top: 9%;
  padding: 1% 3%;
}

.unique-link{
  text-decoration: none;
}

.drawer{
  background-color: white;
  width: 100%;
  height: 100%;
}
.side-link{
  text-decoration: none;
  color: white;
}

.title-img{
  width: 150px;
  height: 120px;
  padding: 25px;
}
.user-details{
  margin: 130px 35px ;
}
.user-details2{
  margin: 130px 120px;
  display: flex;
}